
    <div class="container">  
        
      <form [formGroup]="EmpForm" (ngSubmit)="this[EventValue]()">  
          
          <h3>Employee Table CRUD Operation</h3>  
          <div class="row">  
               
          <table class="table">  
          <tr>  
            <td>Name</td>  
            <td>  
              <input type="hidden" formControlName="eId">  
              <input type="text" formControlName="eName">  
              <div *ngIf="submitted && EmpForm.controls.eName.errors" class="text-danger">  
                <div *ngIf="EmpForm.controls.eName.errors.required"> Name is a required field</div>  
              </div>   
            </td>  
          </tr>  
            
          <tr>  
            <td>Address</td>  
            <td><input type="text" formControlName="eAddress">  
              <div *ngIf="submitted && EmpForm.controls.eAddress.errors" class="text-danger">  
                <div *ngIf="EmpForm.controls.eAddress.errors.required"> Address is a required field</div>  
              </div>   
            </td>  
          </tr>  
          <tr>  
            <td>Email</td>  
            <td>  
              <input type="text" formControlName="eEmail">  
              <div *ngIf="submitted && EmpForm.controls.eEmail.errors" class="text-danger">  
                <div *ngIf="EmpForm.controls.eEmail.errors.required">Email is a required field</div>  
              </div>  
            </td>  
          </tr>  
          <tr>  
            <td>Age</td>  
            <td>  
              <input type="number" formControlName="eAge">  
              <div *ngIf="submitted && EmpForm.controls.eAge.errors" class="text-danger">  
                <div *ngIf="EmpForm.controls.eAge.errors.required">Age is required</div>  
              </div>  
                
            </td>  
          </tr>  
          <tr>  
        
            <td colspan="2">  
              <button type="submit" class="btn btn-primary">{{EventValue}}</button>  
            </td>  
          </tr>  
            
        </table>  
        </div>  
           


              <mat-form-field>
                  <mat-label>Filter</mat-label>
                  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
              </mat-form-field>

              <div class="mat-elevation-z8">
                  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                      <!-- ID Column -->
                      <ng-container matColumnDef="eId">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                          <mat-cell *matCellDef="let element"> {{element.eId}} </mat-cell>
                      </ng-container>

                      <!-- Name Column -->
                      <ng-container matColumnDef="eName">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                          <mat-cell *matCellDef="let element"> {{element.eName}}% </mat-cell>
                      </ng-container>

                      <!-- Address Column -->
                      <ng-container matColumnDef="eAddress">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Address </mat-header-cell>
                          <mat-cell *matCellDef="let element"> {{element.eAddress}} </mat-cell>
                      </ng-container>

                      <!-- Age Column -->
                      <ng-container matColumnDef="eAge">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Age </mat-header-cell>
                          <mat-cell *matCellDef="let element"> {{element.eAge}} </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="editAction">
                          <mat-header-cell *matHeaderCellDef> editAction </mat-header-cell>
                          <mat-cell *matCellDef="let element"><i class="material-icons" (click)="EditData(element)">Edit</i>  </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="deleteAction">
                          <mat-header-cell *matHeaderCellDef> deleteAction </mat-header-cell>
                          <mat-cell *matCellDef="let element"><i class="material-icons" (click)="deleteData(element)">Delete</i>  </mat-cell>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                  
                  </table>

                  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
              </div>


       
      </form>  
        
      </div>  
  