
    <div class="container">

        <form class="text-center border border-light p-5" [formGroup]="EmpForm" (ngSubmit)="this[EventValue]()">

            <p class="h4 mb-4">CRUD</p>
            <div class="row">
                <!-- Name -->
                <input type="text" class="form-control mb-4" placeholder="Name" formControlName="eName">
                <div *ngIf="submitted && EmpForm.controls.eName.errors" class="text-danger">
                    <div *ngIf="EmpForm.controls.eName.errors.required"> Name is a required field</div>
                </div>


                <!-- Address -->
                <input type="text" class="form-control mb-4" placeholder="Address" formControlName="eAddress">
                <div *ngIf="submitted && EmpForm.controls.eAddress.errors" class="text-danger">
                    <div *ngIf="EmpForm.controls.eAddress.errors.required"> Address is a required field</div>
                </div>

                <input type="text" class="form-control mb-4" placeholder="Email" formControlName="eEmail">
                <div *ngIf="submitted && EmpForm.controls.eEmail.errors" class="text-danger">
                    <div *ngIf="EmpForm.controls.eEmail.errors.required"> Email is a required field</div>
                </div>

                <input type="number" class="form-control mb-4" placeholder="Age" formControlName="eAge">
                <div *ngIf="submitted && EmpForm.controls.eAge.errors" class="text-danger">
                    <div *ngIf="EmpForm.controls.eAge.errors.required"> Age is a required field</div>
                </div>
                <input type="hidden" formControlName="eId">

                <!-- Send button -->
                <button class="btn btn-info btn-block " type="submit" mat-stroked-button color="primary">{{EventValue}}</button>

            </div>
            <div class="row">
                <mat-form-field>
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
                </mat-form-field>
            </div>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                    <!-- ID Column -->
                    <ng-container matColumnDef="eId">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.eId}} </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="eName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.eName}} </mat-cell>
                    </ng-container>

                    <!-- Address Column -->
                    <ng-container matColumnDef="eAddress">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Address </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.eAddress}} </mat-cell>
                    </ng-container>

                    <!-- Age Column -->
                    <ng-container matColumnDef="eAge">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Age </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.eAge}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Actions">
                        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                        <mat-cell *matCellDef="let element"><i class="material-icons" (click)="EditData(element)">Edit</i>  <i class="material-icons" (click)="deleteData(element)">Delete</i> </mat-cell>
                    </ng-container>



                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>


                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>



        </form>

    </div>  

  